.nav{
    display: flex;
    background-color:black;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    margin-right: 40px;
}
.title{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}